$color:#babcbe;
$boderColor:#dfe6ec;

.site-layout-background {

  .echarts {
    height: 350px;
  }

  :global {

    .src-components-SvgIcon-index-module__svg-class {
      font-size: 15px;
    }

    .header {
      margin-bottom: 10px;
      padding-bottom: 15px;
      font-weight: bold;
      border-bottom: 1px solid $boderColor;
      color: #9093a6;
    }

    .body {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $boderColor;
      color: #606266;
    }

    .ant-card-bordered {
      box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    }

    .ant-card-head {
      border-bottom: 1px solid $boderColor;
    }
  }
}
