.h4-title {
  margin: 8px 10px 25px;
  padding-bottom: 5px;
  font-size: 15px;
  border-bottom: 1px solid #dddddd;
  color: #6379bb;
}

.base-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
