/* tree border */
.tree-border {
  margin-top: 5px;
  border: 1px solid #e5e6e7;
  background: #FFFFFF none;
  border-radius:4px;
}

//main-container全局样式
.app-container {
  padding: 20px;
}

// 全局自定义滚动条样式配置
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
