@import '../../../../../assets/style/variables.scss';

.layout-drawer {

  .title {
    color: rgba(0,0,0,.85);
    font-size: 14px;
    line-height: 22px;
    margin: 14px 0;
  }

  .theme {
    margin: 10px 0;

    .theme-square {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  hr {
    margin: 24px 0;
    color: #dcdfe6;
  }

  .base-layout {
    margin: 30px 0 15px 0;
    color: #6f6e6e;
  }
}


