.generate-mes {

  h4 {
    color: #6379ca;
    border-bottom: 1px solid #dddddd;
    margin: 10px 0 20px;
  }

  // 局部修改 antd 样式
  :global {

    .ant-input-group-addon {
      padding: 0;
      border: 0;
    }
  }
}
