.generate-mes {

  h4 {
    margin: 10px 0 20px;
    border-bottom: 1px solid #dddddd;
    color: #6379ca;
  }

  /* 局部修改 antd 样式 */
  :global {

    .ant-input-group-addon {
      padding: 0;
      border: 0;
    }
  }
}
