.h4-title {
  font-size: 15px;
  color: #6379bb;
  border-bottom: 1px solid #ddd;
  margin: 8px 10px 25px 10px;
  padding-bottom: 5px;
}

.base-info {
  display: flex;
  justify-content: center;
  align-items:center;
}
