// 主题风格颜色
$pink:pink;
$darkGreen:#546f3e;
$cornflowerBlue:#717ff9;
$goldenrod:black;
$darkBlue:#011039;
.pink {
  background-color: $pink!important;
}
.darkGreen {
  background-color: $darkGreen!important;
}
.cornflowerBlue {
  background-color: $cornflowerBlue!important;
}
.goldenrod {
  background-color: $goldenrod!important;
}
.darkBlue {
  background-color: $darkBlue!important;
}
