@import '@/assets/style';

.site-layout-background {
  background: #ffffff;

  :global {

    .ant-layout-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 56px !important;
      line-height: 56px;

      .anticon {
        margin: 0 8px;
        color: white;
      }

      .ant-avatar {
        margin-right: 16px;
        cursor: pointer;
      }
    }
  }
}

.header-left,
.header-right {
  @include dis-center;
}
